@use 'components/tasks.scss';
@use 'components/add-task.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 195, 195);
  background: linear-gradient(
    90deg,
    rgba(255, 195, 195, 1) 0%,
    rgba(179, 98, 226, 0.9865196078431373) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.show {
  display: contents;
}
